.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.box {
    position: relative;
    width: 300px;
    height: 300px;
}

.firstUser, .secondUser {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.gameCell {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 2px black inset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.title {
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.active {
  border-bottom: 3px solid red;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  position: relative;
  width: 100%;
  height: 250px;
}


